.theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  background-color: rgba(86, 75, 75, 0.3);
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    .item {
      flex-grow: 1;
      margin-left: 10px;
      select {
        padding: 5px;
        border: 0;
        height: 30px;
        line-height: 30px;
        width: 120px;
        box-sizing: border-box;
      }
      input {
        height: 30px;
        line-height: 30px;
        padding: 5px;
        width: 120px;
        box-sizing: border-box;
      }
    }
  }
}
